@font-face {
  font-family: 'BentonSansCond';
  src: url("https://apps.bostonglobe.com/common/font/bentonsanscond-regular.woff2") format('woff2'), url("https://apps.bostonglobe.com/common/font/bentonsanscond-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSansCond';
  src: url("https://apps.bostonglobe.com/common/font/bentonsanscond-bold.woff2") format('woff2'), url("https://apps.bostonglobe.com/common/font/bentonsanscond-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --globe-blue: #005dc7;
  --globe-gray: #767676;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'BentonSansCond', Arial Narrow, Helvetica, sans-serif;
  font-weight: 400;
	font-size: 18px;
	scroll-behavior: smooth;
	background: var(--bg-gray);
	color: var(--font-white);
}

* {
	box-sizing: border-box;
}


.font_primary {
  font-family: 'BentonSansCond', Arial Narrow, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_primary.bold {
  font-family: 'BentonSansCond', Arial Narrow, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:link, a:visited {
  color: var(--globe-blue);
  text-decoration: none;
}

a:hover {
  color: var(--globe-gray);
  border-bottom: 2px solid;
}

p {
  line-height: 1.6;
}
